@font-face{
	font-family: bunny;
	src: url(../fOUIhmZANo6e.otf);
	font-weight: 400px
}


@font-face{
	font-family: lemon;
	src: url(../fonts/V0FS84RA26UD.ttf) ;
}


@font-face{
	font-family: bodo;
	src: url(../fonts/6d59Ph6D3tbl.ttf) ;
}


@font-face{
	font-family: lemonlight;
	src: url(../0y74gLxmAs97.otf) ;
}



@font-face{
	font-family: amsterdam;
	src: url(../fonts/RBtifFZdIdHH.ttf) ;
}

