@font-face{
	font-family: bunny;
	src: url(fOUIhmZANo6e.otf);
	font-weight: 400px
}


@font-face{
	font-family: lemon;
	src: url(../fonts/NdYfXE5FZlBC.ttf) ;
}


@font-face{
	font-family: bodo;
	src: url(../fonts/RMYjBk7h7Waa.ttf) ;
}


@font-face{
	font-family: lemonlight;
	src: url(0y74gLxmAs97.otf) ;
}

@font-face{
	font-family: katie;
	src: url(../fonts/yaAAgMNYI3K5.ttf) ;
}


@font-face{
	font-family: shington;
	src: url(../fonts/JD5q1NR7UUDd.ttf) ;
}


@font-face{
	font-family: halimun;
	src: url(../fonts/zP3PBigk1Wv7.ttf) ;
}


@font-face{
	font-family: poppins;
	src: url(../fonts/ZuWzeVR5SgOr.ttf) ;
}


@font-face{
	font-family: quattrocentro;
	src: url(../fonts/KtkG5fxm5nqs.ttf) ;
}


@font-face{
	font-family: amsterdam;
	src: url(../fonts/ZezpahXxKZAs.ttf) ;
}


@font-face{
	font-family: amalfi;
	src: url(../fonts/qX0JNwxyrQmk.ttf) ;
}
